
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
:root {
  /* colors */
  --clr-main:                      #ff8500;
  --clr-white:                     #FFFFFF;
  --clr-black:                     #000;
  --clr-disable:                   #93bcbc;
  --clr-succsess:                  #71aa27;
  --clr-danger:                    #c61414;
  --clr-secondary-black:           #282828;
  --clr-brightness-pink:           rgba(255, 133, 0 , 0.2);
  --clr-brightness-blue:           #1d5edd;

  
  /* font family */
  --font-family: "Montserrat";

  /* font size */
  --fs-larger: 64px;
  --fs-large: 32px;
  --fs-medium: 16px;
  --fs-small: 12px;
  --fs-smaller: 8px;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

