.Ah_TermsCotiner {
    width: 70%;
    padding-bottom: 10rem;
    color: var(--focal-x-font-color, #282828);

    /* focal X/Secondary text : Montserrat 16 px Regular */
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    /* 150% */
}