.rn-navbar {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    background-color: #FFF;
    justify-content: space-between;
    width: 100%;
}

.navbar-brand {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-right: 0 !important;
    font-size: 0 !important;
}

.rn-logo-focal {
    margin-left: 2rem;
    margin-top: 0.94rem;
    margin-bottom: 0.94rem;
    width: 4.68838rem;
    height: 1.18825rem;
}

.rn-logo-focal img {
    width: 100%;
}

.rn-nav {
    margin: 1rem auto 0.75rem auto;

}

.rn-nav a {
    padding: 0.25rem 0 !important;
    margin: 0 !important;
    color: #938C8C;
    font-family: var(--font-famil) !important;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

.rn-nav a:hover {
    color: var(--clr-main) !important;
}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media screen and (max-width:992px) {
    .navbar-collapse {
        display: block;
        text-align: center;
    }

}