.ay-componant-card{ 
    margin-top: 3rem;
     display: flex;
      justify-content: center; 
      flex-wrap: wrap;
       width:100%; 
       gap: 3.37rem;
     }
.submit{ display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 1.38rem;
    
    }
    
    .submit .ay-btn{
    background-color: black;
    color: aliceblue;
    font-size: 1.1rem;
    padding: 0.6rem 2rem;
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: 500;}
    .ay-a{text-decoration: none;}

    @media screen and (max-width:1200px) {
        .ay-componant-card{ 
               gap: 1rem;
             }
    }