.dropdown-menu {
    padding: 0 !important;
    margin: 0 !important;
    background: var(--clr-secondary-black) !important;
}

.rn-dropdown {
    margin: 0 !important;
    background: var(--clr-secondary-black) !important;
    display: flex !important;
}

.rn-dropdown .dropdown-item {
    color: #938C8C !important;
    background-color: transparent !important;
    font-family: var(--font-family);
    padding: 0.75rem 2rem !important;
    margin: 0 !important;
}

.rn-dropdown .dropdown-item a:hover {
    background-color: transparent !important;
    color: var(--clr-main) !important;
    text-decoration: underline;
}

.rn-dropdown::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: var(--clr-secondary-black);
    transform: rotate(45deg);
    top: -9px;
    left: 20px;
    z-index: -1;
    
}



.dropdown-toggle {
    background-color: transparent !important;
    color: #938C8C !important;
    border: none !important;
    font-family: var(--font-family) !important;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
    margin-right: 2rem;
  
}

.dropdown-toggle::after,
.dropdown-toggle.show::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='9' viewBox='0 0 15 9' fill='none'%3E%3Cline x1='1.41308' y1='1.94348' x2='7.44358' y2='7.51009' stroke='%23938C8C' stroke-width='2' stroke-linecap='round'/%3E%3Cline x1='1' y1='-1' x2='9.20695' y2='-1' transform='matrix(-0.734803 0.67828 0.67828 0.734803 15 2)' stroke='%23938C8C' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    top: 0.7rem;
    right: 1rem;
    border: none !important;
    /* margin: 0.13rem; */
    transition: 0.25s ease-in 
}

.dropdown-toggle.show::after {
    transform: rotate(-180deg) !important;
    top: 0rem;
    transition: 0.25s ease-in 
}


@media screen and (max-width:1130px) {
    .dropdown-toggle {
        margin-right: 1rem;
        font-size: 0.88rem;
    }

    .dropdown-toggle::after,
    .dropdown-toggle.show::after {
        right: 0;
    }
}

@media screen and (max-width:992px) {

    .rn-dropdown {
        flex-wrap: wrap;

     
    }
  

    .rn-dropdown .dropdown-item {
        text-align: center;
        display: inline-block;
    }

    .dropdown-toggle::after {
        right: auto;
        margin-left: 0.22rem;
        top: 1.6rem;
    }
    .dropdown-toggle.show::after {
        right: auto;
        margin-left: 0.22rem;
        top: 1rem;
    }


    .dropdown-toggle {
        margin-top: 1rem;
        margin-right: 0;

    }
    .rn-dropdown::before {
     display: none;
        
    }
}