.section2{
  background: url(../../assets/166448bb602550524d906cbdca70189c\ 1.png) no-repeat;
  background-size: cover;
 font-family: var(--font-family);
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;

}
.AK2{
  width: 50%;
}

h1{
    font-family: var(--font-family);
    font-weight: bold;
    font-size: var(--fs-large);
    color: var(--clr-black);
}